<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- csv list of endpoints -->
    <add key="endpointUris" value="http://localhost:5000" />
    <add key="serviceName" value="FonixTalkNancy-Service" />
    <add key="serviceDisplayName" value="FonixTalkNancy-Service" />
  </appSettings>
</configuration>